<div class="modal fade" id="backupModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 shadow">

      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">
            <i class="fa fa-database"></i> Confirm System Backup
        </h5>
        <button type="button" class="btn-close btn-close-white"
                data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        Download full system backup?
      </div>

      <div class="modal-footer justify-content-center">
        <button type="button"
                class="btn btn-secondary rounded-pill px-4"
                data-bs-dismiss="modal">
            Cancel
        </button>

        <a href="/backup/"
           class="btn btn-danger rounded-pill px-4">
            Yes, Download
        </a>
      </div>

    </div>
  </div>
</div>