{% extends 'base.html' %}
{% block content %}

<div class="card shadow p-4 rounded-4 text-center mx-auto" style="max-width:500px">

    <h4 class="text-danger mb-3">Delete Purchase</h4>

    <p>Invoice : <b>{{ purchase.invoice_no }}</b></p>
    <p>Are you sure?</p>

    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger px-4">Yes Delete</button>
        <a href="{% url 'purchase_list' %}" class="btn btn-secondary px-4">Cancel</a>
    </form>

</div>

{% endblock %}
